In [1]:
import pandas as pd
import plotly.express as px

df = pd.read_csv('co-emissions-per-capita.csv')
df = df[~df['Code'].isna()]
df = df.rename(columns={'Annual CO₂ emissions (per capita)': 'Annual CO2 emissions (per capita)'})
df['Annual CO2 emissions (per capita)'] = df['Annual CO2 emissions (per capita)'].round(1)
top_n_row = 10
df

            Entity Code  Year  Annual CO2 emissions (per capita)
0      Afghanistan  AFG  1949                                0.0
1      Afghanistan  AFG  1950                                0.0
2      Afghanistan  AFG  1951                                0.0
3      Afghanistan  AFG  1952                                0.0
4      Afghanistan  AFG  1953                                0.0
...            ...  ...   ...                                ...
26595     Zimbabwe  ZWE  2018                                0.7
26596     Zimbabwe  ZWE  2019                                0.6
26597     Zimbabwe  ZWE  2020                                0.5
26598     Zimbabwe  ZWE  2021                                0.5
26599     Zimbabwe  ZWE  2022                                0.5

[23046 rows x 4 columns]

## 1. First Section

### 1.1 Top N countries with the most CO2 emissions chosen 1 year

In [2]:
df_last_year = df[df['Year']==max(df['Year'])]
df_last_year = df_last_year.sort_values('Annual CO2 emissions (per capita)', ascending=False).reset_index(drop=True)
df_last_year.iloc[:top_n_row].to_csv('co-emissions-per-capita-last-year.csv')
# df_last_year
px.bar(df_last_year.iloc[:top_n_row], x='Entity', y='Annual CO2 emissions (per capita)')

### 1.1 Top N countries with the most CO2 emissions chosen a decade

In [3]:
df_last_decade = df[df['Year']>max(df['Year'])-10]
df_last_decade = df_last_decade[['Entity', 'Code', 'Annual CO2 emissions (per capita)']].groupby(['Entity', 'Code']).mean().reset_index()
df_last_decade = df_last_decade.sort_values('Annual CO2 emissions (per capita)', ascending=False).reset_index(drop=True)
df_last_decade['Annual CO2 emissions (per capita)'] = df_last_decade['Annual CO2 emissions (per capita)'].round(1)
df_last_decade.iloc[:top_n_row].to_csv('co-emissions-per-capita-last-decade.csv')
# df_last_decade
px.bar(df_last_decade.iloc[:top_n_row], x='Entity', y='Annual CO2 emissions (per capita)')

## 2. Second Section

### 2.1 Regions comparison of CO2 emissions (chosen 1 year)

In [4]:
df_last_year = df[df['Year']==max(df['Year'])].reset_index(drop=True)
df_last_year

                Entity      Code  Year  Annual CO2 emissions (per capita)
0          Afghanistan       AFG  2022                                0.3
1              Albania       ALB  2022                                1.7
2              Algeria       DZA  2022                                3.9
3              Andorra       AND  2022                                4.6
4               Angola       AGO  2022                                0.5
..                 ...       ...   ...                                ...
210  Wallis and Futuna       WLF  2022                                2.3
211              World  OWID_WRL  2022                                4.7
212              Yemen       YEM  2022                                0.3
213             Zambia       ZMB  2022                                0.4
214           Zimbabwe       ZWE  2022                                0.5

[215 rows x 4 columns]

In [5]:
df_country_region_mapping = pd.read_csv('country-region-mapping.csv')
df_country_region_mapping

                Entity   Region
0          Afghanistan     Asia
1              Albania   Europe
2              Algeria   Africa
3              Andorra   Europe
4               Angola   Africa
..                 ...      ...
209            Vietnam     Asia
210  Wallis and Futuna  Oceania
211              Yemen     Asia
212             Zambia   Africa
213           Zimbabwe   Africa

[214 rows x 2 columns]

In [6]:
df_country_population_mapping = pd.read_csv('country-population-mapping.csv')
df_country_population_mapping

            Entity  Population
0            India  1450935791
1            China  1419321278
2    United States   345426571
3        Indonesia   283487931
4         Pakistan   251269164
..             ...         ...
186     San Marino       33894
187          Palau       18134
188         Tuvalu       11517
189          Nauru       10747
190   Vatican City         517

[191 rows x 2 columns]

In [7]:
df_last_year_with_population = pd.merge(df_last_year, df_country_population_mapping, on='Entity', how='left')
df_last_year_with_population

,Entity,Code,Year,Annual CO2 emissions (per capita),Population
0,Afghanistan,AFG,2022,0.3,42647492.0
1,Albania,ALB,2022,1.7,2730628.0
2,Algeria,DZA,2022,3.9,46814308.0
3,Andorra,AND,2022,4.6,79519.0
4,Angola,AGO,2022,0.5,37885849.0
...,...,...,...,...,...
210,Wallis and Futuna,WLF,2022,2.3,NaN
211,World,OWID_WRL,2022,4.7,NaN
212,Yemen,YEM,2022,0.3,40583164.0
213,Zambia,ZMB,2022,0.4,21314956.0
214,Zimbabwe,ZWE,2022,0.5,16634373.0

In [8]:
df_last_year_with_population["Annual CO2 emissions"] = df_last_year_with_population["Annual CO2 emissions (per capita)"] * df_last_year_with_population["Population"]
df_last_year_with_population

,Entity,Code,Year,Annual CO2 emissions (per capita),Population,Annual CO2 emissions
0,Afghanistan,AFG,2022,0.3,42647492.0,12794247.6
1,Albania,ALB,2022,1.7,2730628.0,4642067.6
2,Algeria,DZA,2022,3.9,46814308.0,182575801.2
3,Andorra,AND,2022,4.6,79519.0,365787.4
4,Angola,AGO,2022,0.5,37885849.0,18942924.5
...,...,...,...,...,...,...
210,Wallis and Futuna,WLF,2022,2.3,NaN,NaN
211,World,OWID_WRL,2022,4.7,NaN,NaN
212,Yemen,YEM,2022,0.3,40583164.0,12174949.2
213,Zambia,ZMB,2022,0.4,21314956.0,8525982.4
214,Zimbabwe,ZWE,2022,0.5,16634373.0,8317186.5

In [9]:
df_last_year_with_regions = pd.merge(df_last_year_with_population, df_country_region_mapping, on='Entity', how='left')
df_last_year_with_regions

,Entity,Code,Year,Annual CO2 emissions (per capita),Population,Annual CO2 emissions,Region
0,Afghanistan,AFG,2022,0.3,42647492.0,12794247.6,Asia
1,Albania,ALB,2022,1.7,2730628.0,4642067.6,Europe
2,Algeria,DZA,2022,3.9,46814308.0,182575801.2,Africa
3,Andorra,AND,2022,4.6,79519.0,365787.4,Europe
4,Angola,AGO,2022,0.5,37885849.0,18942924.5,Africa
...,...,...,...,...,...,...,...
210,Wallis and Futuna,WLF,2022,2.3,NaN,NaN,Oceania
211,World,OWID_WRL,2022,4.7,NaN,NaN,NaN
212,Yemen,YEM,2022,0.3,40583164.0,12174949.2,Asia
213,Zambia,ZMB,2022,0.4,21314956.0,8525982.4,Africa
214,Zimbabwe,ZWE,2022,0.5,16634373.0,8317186.5,Africa

In [ ]:
top_n = 5

df_last_year_with_regions_sorted = df_last_year_with_regions.sort_values(by=['Region', 'Annual CO2 emissions'], ascending=[True, False])

df_last_year_with_regions_sorted['Rank'] = df_last_year_with_regions_sorted.groupby('Region')['Annual CO2 emissions'].rank(method='first', ascending=False)

df_last_year_with_regions_sorted['Entity'] = df_last_year_with_regions_sorted.apply(lambda row: row['Entity'] if row['Rank'] <= top_n else 'Other', axis=1)

df_last_year_with_regions_aggregated = df_last_year_with_regions_sorted.groupby(['Region', 'Entity'], as_index=False).agg({'Annual CO2 emissions': 'sum', 'Rank' : 'min'}).reset_index()

df_continent_totals = df_last_year_with_regions_aggregated.groupby('Region')['Annual CO2 emissions'].sum().reset_index()

df_continent_totals = df_continent_totals.sort_values(by='Annual CO2 emissions', ascending=False)

df_last_year_with_regions_aggregated = pd.merge(df_last_year_with_regions_aggregated, df_continent_totals, on='Region', suffixes=('', '_Total'))

df_last_year_with_regions_aggregated = df_last_year_with_regions_aggregated.sort_values(by=['Annual CO2 emissions_Total', 'Rank'], ascending=[False, True])
df_last_year_with_regions_aggregated = df_last_year_with_regions_aggregated.drop('Annual CO2 emissions_Total', axis=1)

df_last_year_with_regions_aggregated['Annual CO2 emissions'] /= 1_000_000
df_last_year_with_regions_aggregated['Annual CO2 emissions'] = df_last_year_with_regions_aggregated['Annual CO2 emissions'].astype(int)

df_last_year_with_regions_aggregated.to_csv('co-emissions-last-year-region-comparison.csv', index=False)

df_last_year_with_regions_aggregated

    index         Region               Entity  Annual CO2 emissions  Rank
6       6           Asia                China                 11354   1.0
7       7           Asia                India                  2901   2.0
10     10           Asia                Japan                  1051   3.0
8       8           Asia            Indonesia                   737   4.0
9       9           Asia                 Iran                   714   5.0
11     11           Asia                Other                  5151   6.0
23     23  North America        United States                  5146   1.0
18     18  North America               Canada                   564   2.0
20     20  North America               Mexico                   523   3.0
22     22  North America  Trinidad and Tobago                    35   4.0
19     19  North America   Dominican Republic                    23   5.0
21     21  North America                Other                   101   6.0
16     16         Europe               Russia                  1650   1.0
12     12         Europe              Germany                   676   2.0
13     13         Europe                Italy                   338   3.0
17     17         Europe       United Kingdom                   324   4.0
15     15         Europe               Poland                   312   5.0
14     14         Europe                Other                  1582   6.0
5       5         Africa         South Africa                   428   1.0
1       1         Africa                Egypt                   268   2.0
0       0         Africa              Algeria                   182   3.0
3       3         Africa              Nigeria                   139   4.0
2       2         Africa              Morocco                    68   5.0
4       4         Africa                Other                   368   6.0
31     31  South America               Brazil                   466   1.0
30     30  South America            Argentina                   191   2.0
33     33  South America             Colombia                   100   3.0
32     32  South America                Chile                    84   4.0
35     35  South America            Venezuela                    76   5.0
34     34  South America                Other                   150   6.0
24     24        Oceania            Australia                   400   1.0
26     26        Oceania          New Zealand                    31   2.0
28     28        Oceania     Papua New Guinea                     8   3.0
25     25        Oceania                 Fiji                     1   4.0
29     29        Oceania      Solomon Islands                     0   5.0
27     27        Oceania                Other                     1   6.0

## 3. Third Section

### 3.1 Countries comparison of CO2 emissions type (chosen 1 year)

In [11]:
df_emission_type = pd.read_csv('co2-fossil-plus-land-use.csv')
df_emission_type = df_emission_type[~((df_emission_type['Code'].isna())|(df_emission_type['Code']=='OWID_WRL'))]
df_emission_type = df_emission_type.rename(columns={
    'Annual CO₂ emissions including land-use change': 'Annual CO2 emissions including land-use change',
    'Annual CO₂ emissions from land-use change': 'Annual CO2 emissions from land-use change',
    'Annual CO₂ emissions': 'Annual CO2 emissions'
    })
df_emission_type

,Entity,Code,Year,Annual CO2 emissions including land-use change,Annual CO2 emissions from land-use change,Annual CO2 emissions
0,Afghanistan,AFG,1850,NaN,2979601.5,NaN
1,Afghanistan,AFG,1851,NaN,3001842.0,NaN
2,Afghanistan,AFG,1852,NaN,3021554.2,NaN
3,Afghanistan,AFG,1853,NaN,3038335.5,NaN
4,Afghanistan,AFG,1854,NaN,3052734.8,NaN
...,...,...,...,...,...,...
40594,Zimbabwe,ZWE,2018,19422790.0,8708192.0,10714598.0
40595,Zimbabwe,ZWE,2019,17854144.0,8078717.0,9775428.0
40596,Zimbabwe,ZWE,2020,15458631.0,7608992.0,7849639.0
40597,Zimbabwe,ZWE,2021,15513038.0,7116880.0,8396158.0
40598,Zimbabwe,ZWE,2022,15580118.0,6724136.5,8855981.0

In [12]:
df_emission_type_last_year = df_emission_type[df_emission_type['Year']==max(df_emission_type['Year'])]
df_emission_type_last_year = df_emission_type_last_year.sort_values('Annual CO2 emissions', ascending=False).reset_index(drop=True)
df_emission_type_last_year = df_emission_type_last_year.iloc[:top_n_row]
df_emission_type_last_year['Annual CO2 emissions including land-use change'] = df_emission_type_last_year['Annual CO2 emissions including land-use change'].round(-7)
df_emission_type_last_year['Annual CO2 emissions from land-use change'] = df_emission_type_last_year['Annual CO2 emissions from land-use change'].round(-5)
df_emission_type_last_year['Annual CO2 emissions'] = df_emission_type_last_year['Annual CO2 emissions'].round(-7)
df_emission_type_last_year = df_emission_type_last_year[['Entity',
                                                         'Code',
                                                         'Annual CO2 emissions',
                                                         'Annual CO2 emissions from land-use change']]
df_emission_type_last_year = df_emission_type_last_year.rename(columns={'Annual CO2 emissions': 'fossil', 'Annual CO2 emissions from land-use change': 'land'})
df_emission_type_last_year = df_emission_type_last_year.melt(id_vars=["Entity", "Code"],
        var_name="Group",
        value_name="Value")
 
df_emission_type_last_year['Value'] /= 1_000_000
df_emission_type_last_year['Value'] = df_emission_type_last_year['Value'].astype(int)

df_emission_type_last_year.to_csv('co2-emission-type-last-year.csv')
df_emission_type_last_year

           Entity Code   Group  Value
0           China  CHN  fossil  11400
1   United States  USA  fossil   5060
2           India  IND  fossil   2830
3          Russia  RUS  fossil   1650
4           Japan  JPN  fossil   1050
5       Indonesia  IDN  fossil    730
6            Iran  IRN  fossil    690
7         Germany  DEU  fossil    670
8    Saudi Arabia  SAU  fossil    660
9     South Korea  KOR  fossil    600
10          China  CHN    land    981
11  United States  USA    land    141
12          India  IND    land     34
13         Russia  RUS    land    313
14          Japan  JPN    land      4
15      Indonesia  IDN    land    918
16           Iran  IRN    land    -13
17        Germany  DEU    land     -8
18   Saudi Arabia  SAU    land      4
19    South Korea  KOR    land     -6