In [23]:
import pandas as pd
import plotly.express as px

df_emission_type = pd.read_csv('co2-fossil-plus-land-use.csv')
df_emission_type = df_emission_type[~((df_emission_type['Code'].isna())|(df_emission_type['Code']=='OWID_WRL'))]
df_emission_type = df_emission_type.rename(columns={
    'Annual CO₂ emissions including land-use change': 'Annual CO2 emissions including land-use change',
    'Annual CO₂ emissions from land-use change': 'Annual CO2 emissions from land-use change',
    'Annual CO₂ emissions': 'Annual CO2 emissions'
    })
df_emission_type = df_emission_type[df_emission_type['Year']==max(df_emission_type['Year'])]
df_emission_type

,Entity,Code,Year,Annual CO2 emissions including land-use change,Annual CO2 emissions from land-use change,Annual CO2 emissions
172,Afghanistan,AFG,2022,1.219331e+07,4.536032e+04,12147948.0
691,Albania,ALB,2022,5.058494e+06,1.037645e+05,4954730.0
864,Algeria,DZA,2022,1.782703e+08,1.925176e+06,176345140.0
1037,Andorra,AND,2022,3.653108e+05,-3.334240e+03,368645.0
1210,Angola,AGO,2022,5.326284e+07,3.719257e+07,16070269.0
...,...,...,...,...,...,...
39873,Vietnam,VNM,2022,5.953420e+08,2.517353e+08,343606620.0
39906,Wallis and Futuna,WLF,2022,NaN,NaN,26461.0
40252,Yemen,YEM,2022,9.319126e+06,-2.037221e+06,11356347.0
40425,Zambia,ZMB,2022,6.999363e+07,6.107174e+07,8921889.0
40598,Zimbabwe,ZWE,2022,1.558012e+07,6.724136e+06,8855981.0

In [24]:
df_mapping_region = pd.read_csv('country-region-mapping.csv')
df_emission_type = pd.merge(left=df_emission_type, right=df_mapping_region, how='left')
df_emission_type

,Entity,Code,Year,Annual CO2 emissions including land-use change,Annual CO2 emissions from land-use change,Annual CO2 emissions,Region
0,Afghanistan,AFG,2022,1.219331e+07,4.536032e+04,12147948.0,Asia
1,Albania,ALB,2022,5.058494e+06,1.037645e+05,4954730.0,Europe
2,Algeria,DZA,2022,1.782703e+08,1.925176e+06,176345140.0,Africa
3,Andorra,AND,2022,3.653108e+05,-3.334240e+03,368645.0,Europe
4,Angola,AGO,2022,5.326284e+07,3.719257e+07,16070269.0,Africa
...,...,...,...,...,...,...,...
212,Vietnam,VNM,2022,5.953420e+08,2.517353e+08,343606620.0,Asia
213,Wallis and Futuna,WLF,2022,NaN,NaN,26461.0,Oceania
214,Yemen,YEM,2022,9.319126e+06,-2.037221e+06,11356347.0,Asia
215,Zambia,ZMB,2022,6.999363e+07,6.107174e+07,8921889.0,Africa
216,Zimbabwe,ZWE,2022,1.558012e+07,6.724136e+06,8855981.0,Africa

In [25]:
top_n = 3
df_emission_type = df_emission_type.sort_values(by=['Region', 'Annual CO2 emissions including land-use change'], ascending=[True, False])
df_emission_type['Rank'] = df_emission_type.groupby('Region')['Annual CO2 emissions including land-use change'].rank(method='first', ascending=False)
df_emission_type = df_emission_type[df_emission_type['Rank']<=top_n].reset_index(drop=True)
df_emission_type

,Entity,Code,Year,Annual CO2 emissions including land-use change,Annual CO2 emissions from land-use change,Annual CO2 emissions,Region,Rank
0,Democratic Republic of Congo,COD,2022,5.160191e+08,5.124175e+08,3.601595e+06,Africa,1.0
1,South Africa,ZAF,2022,4.051803e+08,1.126277e+06,4.040540e+08,Africa,2.0
2,Egypt,EGY,2022,2.594017e+08,4.500858e+05,2.589517e+08,Africa,3.0
3,China,CHN,2022,1.237828e+10,9.815037e+08,1.139678e+10,Asia,1.0
4,India,IND,2022,2.864052e+09,3.440793e+07,2.829644e+09,Asia,2.0
5,Indonesia,IDN,2022,1.647497e+09,9.186134e+08,7.288833e+08,Asia,3.0
6,Russia,RUS,2022,1.965207e+09,3.130295e+08,1.652177e+09,Europe,1.0
7,Germany,DEU,2022,6.575159e+08,-8.088792e+06,6.656047e+08,Europe,2.0
8,United Kingdom,GBR,2022,3.345850e+08,1.593060e+07,3.186544e+08,Europe,3.0
9,United States,USA,2022,5.199053e+09,1.417495e+08,5.057304e+09,North America,1.0
10,Mexico,MEX,2022,8.626858e+08,3.507138e+08,5.119720e+08,North America,2.0
11,Canada,CAN,2022,6.658265e+08,1.178826e+08,5.479439e+08,North America,3.0
12,Australia,AUS,2022,3.768776e+08,-1.540162e+07,3.922793e+08,Oceania,1.0
13,New Zealand,NZL,2022,3.477705e+07,2.565240e+06,3.221181e+07,Oceania,2.0
14,Papua New Guinea,PNG,2022,3.037931e+07,2.255617e+07,7.823140e+06,Oceania,3.0
15,Brazil,BRA,2022,1.596469e+09,1.112992e+09,4.834773e+08,South America,1.0
16,Argentina,ARG,2022,2.188900e+08,2.602558e+07,1.928644e+08,South America,2.0
17,Colombia,COL,2022,1.369690e+08,3.725115e+07,9.971787e+07,South America,3.0

In [26]:
df_emission_type['Annual CO2 emissions including land-use change'] = df_emission_type['Annual CO2 emissions including land-use change'].round(-7)
df_emission_type['Annual CO2 emissions from land-use change'] = df_emission_type['Annual CO2 emissions from land-use change'].round(-5)
df_emission_type['Annual CO2 emissions'] = df_emission_type['Annual CO2 emissions'].round(-7)
df_emission_type = df_emission_type.rename(columns={'Annual CO2 emissions': 'fossil', 'Annual CO2 emissions from land-use change': 'land'})
for c in ['Annual CO2 emissions including land-use change', 'fossil', 'land']:
    df_emission_type[c] /= 1_000_000
    df_emission_type[c] = df_emission_type[c].astype(int)
df_emission_type.to_csv('c02-emission-alluvial.csv')
df_emission_type

,Entity,Code,Year,Annual CO2 emissions including land-use change,land,fossil,Region,Rank
0,Democratic Republic of Congo,COD,2022,520,512,0,Africa,1.0
1,South Africa,ZAF,2022,410,1,400,Africa,2.0
2,Egypt,EGY,2022,260,0,260,Africa,3.0
3,China,CHN,2022,12380,981,11400,Asia,1.0
4,India,IND,2022,2860,34,2830,Asia,2.0
5,Indonesia,IDN,2022,1650,918,730,Asia,3.0
6,Russia,RUS,2022,1970,313,1650,Europe,1.0
7,Germany,DEU,2022,660,-8,670,Europe,2.0
8,United Kingdom,GBR,2022,330,15,320,Europe,3.0
9,United States,USA,2022,5200,141,5060,North America,1.0
10,Mexico,MEX,2022,860,350,510,North America,2.0
11,Canada,CAN,2022,670,117,550,North America,3.0
12,Australia,AUS,2022,380,-15,390,Oceania,1.0
13,New Zealand,NZL,2022,30,2,30,Oceania,2.0
14,Papua New Guinea,PNG,2022,30,22,10,Oceania,3.0
15,Brazil,BRA,2022,1600,1113,480,South America,1.0
16,Argentina,ARG,2022,220,26,190,South America,2.0
17,Colombia,COL,2022,140,37,100,South America,3.0